/* src/components/RippleButton.css */

.ripple-button {
  position: relative;
  overflow: hidden;
  transition: background 0.3s;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #e02041;
  color: white;
  padding: 10px 16px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
  pointer-events: none;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
