/* Estilo para container da página de edição */
.edit-container {
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  background: #f0f0f5;
  border-radius: 8px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
}

/* Título da página */
.edit-container h1 {
  margin-bottom: 24px;
  font-size: 32px;
  color: #333;
}


/* Campos do formulário */
.edit-container form input {
  width: 100%;
  height: 50px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 16px;
  margin-bottom: 16px;
  font-size: 16px;
}

/* Botão de salvar alterações */
.edit-container form .button {
  width: 100%;
  height: 50px;
  background: #e02041;
  border: 0;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  margin-top: 8px;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  transition: filter 0.2s;
}

.edit-container form .button:hover {
  filter: brightness(90%);
}

/* Container do checkbox */
.checkbox-container {
  display: flex;
  align-items: center;
  gap: 12px;
  /*margin-bottom: 20px;*/
  margin: 8px 0 0;
}

/* Oculta o checkbox padrão */
.checkbox-container input[type="checkbox"] {
  display: none;
}

/* Estiliza o label como botão */
.checkbox-container label {
  padding: 10px 20px;
  background-color: #f0f0f5;
  color: #c41010;
  border: 2px solid #c41010;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  user-select: none;
}

/* Quando o checkbox estiver marcado (bloqueado) */
.checkbox-container input[type="checkbox"]:checked + label {
  background-color: #666;
  border: 2px solid #666;
  color: #fff;
}

/* Efeito hover */
.checkbox-container label:hover {
  filter: brightness(95%);
}

/* Estado desabilitado */
.checkbox-container input[type="checkbox"]:disabled + label {
  background-color: #f0f0f0;
  color: #999;
  border: 2px solid #f0f0f0;
  opacity: 0.6;
  cursor: not-allowed;
}

input:disabled {
  background-color: #f0f0f0;
  color: #999;
  cursor: not-allowed;
}


.photo-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 16px;
}

.photo-item {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.2s;
}

.photo-item.selected {
  border-color: #10B981;
}

.photo-selector h3{
  margin-top: 12px;
  margin-bottom: 12px;
}