@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "./styles/responsive.css";

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font:
    400 14px Roboto,
    sans-serif;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
  font:
    400 14px Roboto,
    sans-serif;
}

button {
  cursor: pointer;
}

/* ========================= */
/* FORMULÁRIOS GERAIS        */
/* ========================= */

form input {
  width: 100%;
  height: 60px;
  color: #000;
  border: 1px solid #494949;
  border-radius: 8px;
  padding: 0 24px;
}

form textarea {
  width: 100%;
  resize: vertical;
  min-height: 140px;
  height: 60px;
  color: #000;
  border: 1px solid #494949;
  border-radius: 8px;
  padding: 16px 24px;
  line-height: 24px;
}

/* ========================= */
/* BOTÕES PADRÃO             */
/* ========================= */

.button {
  width: 100%;
  height: 60px;
  background: #10b981;
  border: 0;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
  margin-top: 16px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  transition: filter 0.2s;
}

.button:hover {
  filter: brightness(90%);
}

/* Botão de Exportar Documentos (Padrão) */
.exportar-button {
  background: #f8f9fa;
  color: #495057;
  border: 1px solid #dee2e6;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.2s ease;
  min-width: 100px;
  justify-content: center;
}

/* Hover simples de Exportar Documentos*/
.exportar-button:hover {
  background: #e9ecef;
  border-color: #adb5bd;
  color: #212529;
}

/* Versão Excel (verde suave) | Utilizado na tela de historico & agendamentos*/
.exportar-button.excel:hover {
  background: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

/* ========================= */
/* LINK DE VOLTAR            */
/* ========================= */

.back-link {
  display: flex;
  align-items: center;
  color: #000;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2s;
}

.form form .back-link {
  margin-top: 20px;
}

.back-link svg {
  margin-right: 8px;
}

.back-link:hover {
  opacity: 0.9;
}

/* ========================= */
/* PÁGINAS E HEADERS PADRÃO (CABEÇALHO)  */
/* ========================= */

.page-container {
  width: 100%;
  max-width: 1500px;
  padding: 0 30px;
  margin: 32px auto;
}

.page-header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.page-header img {
  height: 64px;
}

.page-header span {
  font-size: 20px;
  margin-left: 24px;
}

.page-title-wrapper {
  display: flex;
  align-items: center;
}

/* LISTAGEM DE HISTORICO DE VISITAS | PÁGINAS HISTORY & VISITORS */

.historico-visitas {
  width: 100%;
}

.historico-visitas h1 {
  font-size: 28px;
  margin-bottom: 8px;
}

.historico-visitas h2 {
  font-size: 20px;
  color: #737380;
  margin-bottom: 24px;
}

.historico-visitas table {
  width: 100%;
  /* border-collapse: collapse; */
  min-width: 800px;
}

.historico-visitas table th,
.historico-visitas table td {
  padding: 12px 16px;
  border: 1px solid #dcdce6;
  border-radius: 6px;
  text-align: center;
}

.historico-visitas table th {
  font-weight: bold;
  font-size: 16px;
  white-space: nowrap;
  border: 1px solid #dcdce6;
}

.historico-visitas table td:first-child {
  font-weight: bold;
}

.nao-visitantes {
  color: #737380;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}

.placaendcor {
  text-align: center;
}

/* ========================= */
/* INPUTS DE CONSULTA        */
/* ========================= */

.search-input {
  padding: 12px 12px 12px 40px;
  font-size: 16px;
  border: 1px solid #646464;
  border-radius: 8px;
  outline: none;
  width: 350px;
  max-width: 100%;
  transition:
    border 0.2s,
    box-shadow 0.2s;
}

.search-input:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
}

@media (max-width: 1024px) {
  .search-input {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .search-input {
    width: 100%;
    min-width: 200px;
  }
}

.search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  pointer-events: none;
  z-index: 1;
}

/* ============================================ */
/* SUBMENU | PÁGINAS HISTORY & TICKET-DASHBOARD */
/* ============================================ */

.sub-lista {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 80px; */
}
