@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px Roboto, sans-serif;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}

input, button, textarea {
  font: 400 14px Roboto, sans-serif;
}

button {
  cursor: pointer;
}

form input {
  width: 100%;
  height: 60px;
  color: #000;
  border: 1px solid #494949;
  border-radius: 8px;
  padding: 0 24px;
}

form textarea {
  width: 100%;
  resize: vertical;
  min-height: 140px;
  height: 60px;
  color: #000;
  border: 1px solid #494949;
  border-radius: 8px;
  padding: 16px 24px;
  line-height: 24px;
}

.button {
  width: 100%;
  height: 60px;
  background: #10B981;
  border: 0;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
  margin-top: 16px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  transition: filter 0.2s;
}

.button:hover {
  filter: brightness(90%);
}

/* BOTAÌƒO VOLTAR */
.back-link {
  display: flex;
  align-items: center;
  margin-top: 40px;
  color: #000;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2s;
}

.form form .back-link {
  margin-top: 20px;
}

.back-link svg {
  margin-right: 8px;
}

.back-link:hover {
  opacity: 0.9;
}

/* CONSULTA */
.search-input {
  padding: 8px 12px 8px 32px;
  font-size: 14px;
  border: 1px solid #646464;
  border-radius: 8px;
  outline: none;
  width: 250px;
  transition: border 0.2s;
}

.search-input:focus {
  border-color: #4CAF50;
}

.search-icon {
  position: absolute;
  left: 10px;
  color: #000;
  pointer-events: none;
}